<template>
	<tr v-for="user in users">
		<td>{{ user.userId }}</td>
		<td>{{ user.firstName }}</td>
		<td>{{ user.lastName }}</td>
		<td>{{ user.birthYear }}</td>
	</tr>
</template>

<script setup>

import {computed, onMounted} from "vue";
import {useUserStore} from "../../stores/user";

const userStore = useUserStore();

const users = computed(() => userStore.users);

onMounted(async () => {
	await userStore.getAllUsers();
});

</script>

<style scoped>

</style>
