<template>

	<table>

		<thead>
		<tr>
			<td>UserID</td>
			<td>FirstName</td>
			<td>LastName</td>
			<td>BirthYear</td>
			<td>Actions</td>
		</tr>
		</thead>


		<tbody>
		<tr>
			<td><input type="number" disabled></td>
			<td><input type="text" v-model="newUser.firstName"></td>
			<td><input type="text" v-model="newUser.lastName"></td>
			<td><input type="number" v-model="newUser.birthYear"></td>
			<td>
				<button @click="postNewUser">Send</button>
			</td>
		</tr>
		</tbody>

	</table>
</template>

<script setup>

import {ref} from "vue";
import {useUserStore} from "../../stores/user";
import {useRouter} from "vue-router";


const userStore = useUserStore();

const router = useRouter();

const newUser = ref({
	firstName: "",
	lastName: "",
	birthYear: ""
});

async function postNewUser() {
	await userStore.newUser(newUser.value);
	await userStore.getAllUsers();
	await router.push("/existingUser");
}


</script>

<style scoped>

</style>
