<template>
	<table>
		<thead>
		<tr>
			<td>UserId</td>
			<td>FirstName</td>
			<td>LastName</td>
			<td>BirthYear</td>
			<td>Actions</td>
		</tr>
		</thead>

		<tbody>

		<ExistingUser v-for="user in users" :user="user"></ExistingUser>

		</tbody>
	</table>
</template>

<script setup>

import {computed, onMounted} from "vue";
import {useUserStore} from "../../stores/user";
import ExistingUser from "./ExistingUsers.vue";

const userStore = useUserStore();

const users = computed(() => userStore.users);

onMounted(async () => {
	await userStore.getAllUsers();
});



</script>

<style scoped>

</style>
