<template>
	<table>
		<thead>
		<tr>
			<td>UserId</td>
			<td>FirstName</td>
			<td>LastName</td>
			<td>BirthYear</td>
		</tr>
		</thead>

		<tbody>

		<ExistingUsers></ExistingUsers>

		</tbody>
	</table>
</template>
<script setup>

import ExistingUsers from "../components/user/ExistingUsers.vue";


</script>
<style scoped>

</style>
